<body>
  <h1>Create a new Category</h1>
  <form method="POST" action="/categories/create" id="post">
    <input name="name" type="text" placeholder="Category name" />
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</body>