<h1>Item Detail</h1>
<p>Item name: <%= item.name %></p>
<p>Item price: <%= item.price %></p>
<% category_name = [] %>
<% item.categories.each do |category| %>
  <% category_name << category.name %>
<% end %>
<p>Item category: <%= category_name.join(", ") %></p>